.banner {
  background-color: var(--fds-brand-alt3-300);
  padding: 76px 0;
}

.bannerLeft svg {
  width: 55%;
  height: auto;
}

.bannerLeft svg path:nth-child(1),
.bannerLeft svg path:nth-child(2),
.bannerLeft svg path:nth-child(3) {
  fill: var(--fds-brand-alt3-600);
}

.bannerLeft svg path:nth-child(4),
.bannerLeft svg path:nth-child(6),
.bannerLeft svg path:nth-child(7),
.bannerLeft svg path:nth-child(8),
.bannerLeft svg path:nth-child(25),
.bannerLeft svg path:nth-child(24),
.bannerLeft svg path:nth-child(27) {
  fill: var(--fds-brand-alt2-600);
}

.bannerLeft svg path:nth-child(8),
.bannerLeft svg path:nth-child(9),
.bannerLeft svg path:nth-child(10),
.bannerLeft svg path:nth-child(22),
.bannerLeft svg path:nth-child(23),
.bannerLeft svg path:nth-child(28) {
  fill: var(--fds-brand-alt1-600);
}

.bannerContainer {
  display: flex;
  align-items: center;
}

.bannerRow {
  display: flex;
  align-items: center;
}

.bannerRight {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.bannerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner a {
  font-size: 18px;
}

.cards {
  padding: 72px 0;
}

.cardsHeading {
  text-align: center;
  margin-bottom: 32px !important;
}

.bannerLink {
  color: inherit !important;
}
