:root {
  --fds-semantic-border-focus-outline: var(
    --fds-semantic-text-neutral-default
  ) !important;
  --fds-semantic-border-focus-boxshadow: white !important;
  --background-darkest: var(--fds-semantic-text-neutral-default);
  --background-darker: #2e3d50;
  --background-color: var(--fds-semantic-background-subtle);
  --foreground-color: white;
}

body {
  color: var(--fds-semantic-text-neutral-default) !important;
  background-color: var(--fds-semantic-background-subtle) !important;
}

body.darkmode {
  background-color: var(--background-darkest) !important;
  --background-color: var(--fds-semantic-text-neutral-default);
  --foreground-color: #2e3d50;
}

/**************************************
 * Designsystemet components - Darkmode
 **************************************/

body.darkmode a[class^="fds-card-card"] {
  background-color: var(--background-darker) !important;
  color: white !important;
  border: none !important;
}

body.darkmode a[class^="fds-card-card"] h1 {
  color: white !important;
}

body.darkmode a[class^="fds-link"] {
  color: white !important;
}

body.darkmode *[class^="fds-heading"] {
  color: white !important;
}

body.darkmode p[class^="fds-ingress"] {
  color: white !important;
}

body.darkmode a[class^="fds-link"] {
  color: white !important;
}

/******************************
 * Custom components - Darkmode
 ******************************/

body.darkmode footer {
  background-color: var(--background-darker) !important;
}

body.darkmode div[class^="index_banner"] {
  background-color: var(--background-darker) !important;
  color: white !important;
}

body.darkmode header[class^="Header_header"] {
  background-color: var(--background-darkest) !important;
  color: white !important;
}

body.darkmode div[class^="Bar_bar"] {
  background-color: white !important;
  color: white !important;
}
body.darkmode div[class^="Bar_heading"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}
body.darkmode *[class^="Bar_btn"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}
body.darkmode *[class*="Bar_active"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}

body.darkmode *[class*="Header_header"] svg path {
  fill: white !important;
}

body.darkmode *[class*="website_banner"] {
  background-color: var(--background-darker) !important;
}

body.darkmode *[class*="Login_header"] svg path {
  fill: white;
}

body.theme-tilsynet {
  --fds-brand-alt1-100: #efeffb;
  --fds-brand-alt1-200: #dedff6;
  --fds-brand-alt1-300: #bec0ed;
  --fds-brand-alt1-400: #9da0e4;
  --fds-brand-alt1-500: #7d81db;
  --fds-brand-alt1-600: #5c61d2;
  --fds-brand-alt1-700: #3339c6;
  --fds-brand-alt1-800: #0008b8;
  --fds-brand-alt1-900: #00078f;
  --fds-brand-alt2-100: #ffeee1;
  --fds-brand-alt2-200: #ffdcc3;
  --fds-brand-alt2-300: #fdd4b7;
  --fds-brand-alt2-400: #ffc296;
  --fds-brand-alt2-500: #ffb178;
  --fds-brand-alt2-600: #ffa869;
  --fds-brand-alt2-700: #e6975f;
  --fds-brand-alt2-800: #b3764a;
  --fds-brand-alt2-900: #9f6841;
  --fds-brand-alt3-100: #eff6f4;
  --fds-brand-alt3-200: #deece9;
  --fds-brand-alt3-300: #bedad2;
  --fds-brand-alt3-400: #9dc7bc;
  --fds-brand-alt3-500: #7db5a5;
  --fds-brand-alt3-600: #5ca28f;
  --fds-brand-alt3-700: #4c907e;
  --fds-brand-alt3-800: #407d6d;
  --fds-brand-alt3-900: #376c5e;

  --fds-semantic-surface-action-first-default: #1e2b3c !important;
  --fds-semantic-surface-action-first-hover: #0d1621 !important;
}

body.theme-altinn {
  --fds-brand-alt1-100: #e6eff8;
  --fds-brand-alt1-200: #b3d0ea;
  --fds-brand-alt1-300: #80b1dd;
  --fds-brand-alt1-400: #66a1d6;
  --fds-brand-alt1-500: #3381c8;
  --fds-brand-alt1-600: #1a72c1;
  --fds-brand-alt1-700: #0062ba;
  --fds-brand-alt1-800: #004e95;
  --fds-brand-alt1-900: #00315d;
  --fds-brand-alt2-100: #dcd6ea;
  --fds-brand-alt2-200: #c5bbdd;
  --fds-brand-alt2-300: #a392c8;
  --fds-brand-alt2-400: #806ab4;
  --fds-brand-alt2-500: #6a52a3;
  --fds-brand-alt2-600: #594488;
  --fds-brand-alt2-700: #3f3161;
  --fds-brand-alt2-800: #352951;
  --fds-brand-alt2-900: #231b36;
  --fds-brand-alt3-100: #f9d5db;
  --fds-brand-alt3-200: #f3abb6;
  --fds-brand-alt3-300: #ec8292;
  --fds-brand-alt3-400: #e6586d;
  --fds-brand-alt3-500: #e02e49;
  --fds-brand-alt3-600: #b3253a;
  --fds-brand-alt3-700: #861c2c;
  --fds-brand-alt3-800: #5a121d;
  --fds-brand-alt3-900: #480e17;
}

body.focus-gul {
  --fds-semantic-border-focus-boxshadow: var(
    --fds-colors-yellow-500
  ) !important;
}

body.focus-transparent {
  --fds-semantic-border-focus-boxshadow: transparent !important;
}
