:root {
  --fds-semantic-border-focus-outline: var(
    --fds-semantic-text-neutral-default
  ) !important;
  --fds-semantic-border-focus-boxshadow: white !important;
  --background-darkest: var(--fds-semantic-text-neutral-default);
  --background-darker: #2e3d50;
  --background-color: var(--fds-semantic-background-subtle);
  --foreground-color: white;
}

body {
  color: var(--fds-semantic-text-neutral-default) !important;
  background-color: var(--fds-semantic-background-subtle) !important;
}

body.darkmode {
  background-color: var(--background-darkest) !important;
  --background-color: var(--fds-semantic-text-neutral-default);
  --foreground-color: #2e3d50;
}

body.darkmode a[class^="fds-card-card"] {
  background-color: var(--background-darker) !important;
  color: white !important;
  border: none !important;
}

body.darkmode a[class^="fds-card-card"] h1 {
  color: white !important;
}

body.darkmode footer {
  background-color: var(--background-darker) !important;
}

body.darkmode div[class^="index_banner"] {
  background-color: var(--background-darker) !important;
  color: white !important;
}

body.darkmode a[class^="fds-link"] {
  color: white !important;
}

body.darkmode *[class^="fds-heading"] {
  color: white !important;
}

body.darkmode p[class^="fds-ingress"] {
  color: white !important;
}

body.darkmode a[class^="fds-link"] {
  color: white !important;
}

body.darkmode header[class^="Header_header"] {
  background-color: var(--background-darkest) !important;
  color: white !important;
}

body.darkmode div[class^="Bar_bar"] {
  background-color: white !important;
  color: white !important;
}
body.darkmode div[class^="Bar_heading"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}
body.darkmode *[class^="Bar_btn"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}
body.darkmode *[class*="Bar_active"] {
  color: var(--fds-semantic-text-neutral-default) !important;
}
