.header {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle {
  margin-right: auto;
  margin-left: 90px;
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin-right: 32px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
