.header {
  padding: 24px;
}

.body {
  padding: 10px;
}

.toggle,
.link {
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  height: 50px;
  background-color: transparent;
  padding: 0 12px;
  color: inherit;
  text-decoration: none;
}

.toggleText {
  margin-right: auto;
}

.startIcon {
  margin-right: 12px;
}
