.footer {
  background-color: var(--fds-semantic-text-neutral-default);
  color: white;
  padding: 80px 0;
}

.heading {
  color: white !important;
  margin-bottom: 24px !important;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer a {
  color: rgb(218, 218, 218) !important;
}
